__pycache__
results
*.pyc
/gifs/
build
win_rate
*.so
*.csv
*.out
*.txt
RODE
*.egg-info
wandb
.vscode
api
logs
.nfs*
*.so

__pycache__
.vscode/
results/
/out/
prj_env/
pkgs/
**/.cache/
**/.config/
**/.local/
**/.netrc
**/.mujoco
**/cluster_sh_scripts/
**/local_sh_scripts/
run_mpe_batch.sh
scripts/train_smacv2_scripts/core
